<html>
<head>
<title>otbs_18BCE7158</title>
<link rel="stylesheet" href="otbs_style_18bce7158.css">
</head>
<body>
<form class="abc">
<img src="IMAGE.png">
<h1> VITEE-2019 </h1>
<br>
<h2> Online Test Booking System </h2>
<br>
<br>
<hr>
<strong> Book a seat</strong>
<hr>
<lable> Home :: <p1>Book a seat</p1></lable>
<br>
<br>
<p> Availability displayed here changes every second.please complete your booking quickly.
It is possible that seats that are shown as available may not be available,when you click the book link.
</p>
<br>
<br>
<label>Test name</label>
<input class="inpt" type="text" placeholder="VITEEe-2019">
<select></select>
<label><strong>Booking Start Date</strong>:27-Mar-2019</label>
<label><strong>Booking End Date</strong>:30-Mar-2019</label>
<br>
<br>
<label>State/International</label>
<input class="inpt" type="text" placeholder="DELHI">
<select></select>
<br>
<br>
<label>Test city</label>
<input class="inpt" type="text" placeholder="Delhi">
<select></select>
<br>
<br>
<lable> Subject chooseen for<br> VITEE-2019 </lable>
<input type="radio" value="PCME(Physics,Chemistry,Maths,English)-->Candidates are eligible for all B.Tech programs">
PCME(Physics,Chemistry,Maths,English)-->Candidates are eligible for all B.Tech programs</input>
<br>
<br>
<input type="radio" value="PCBE(Physics,Chemistry,Biology,English)-->Candidates are eligible for all B.Tech Bio-streamprograms">
PCME(Physics,Chemistry,Biology,English)-->Candidates are eligible for all B.Tech Bio-stream programs</input>
<br>
<br>
<lable><p2>Select the appropriate subject for VITEE-2019</p2></lable>
<br>
<br>
<label>Choose your test date preference</label>
<input class="inpt" type="date" placeholder="16-Apr-2019">
<select></select>
<br>
<br>
<label>Test center name</label>
<input class="inpt" type="text">
<select></select>
<br>
<table width=100% border="1">
<thead>
<tr>
<th>Test date</th>
<th>Test day</th>
<th>Test start time</th>
<th>Test end time</th>
<th>Available seats</th>
<th>Book</th>
</tr>
</thead>
<tbody>
<tr>
<th>16-Apr-2019</th>
<th>Tuesday</th>
<th>09:00 AM</th>
<th>11:30 AM</th>
<th>117</th>
<th>Book</th>
</tr>
<tr>
<th>16-Apr-2019</th>
<th>Tuesday</th>
<th>12:30 PM</th>
<th>03:00 PM</th>
<th>123</th>
<th>Book</th>
</tr>
<tr>
<th>16-Apr-2019</th>
<th>Tuesday</th>
<th>04:00 PM</th>
<th>06:30 PM</th>
<th>149</th>
<th>Book</th>
</tr>
</tbody>
</table>
<hr>
<lable> 2019 VIT,Vellore-032014,TamilNadu,India
</form>
</body>
</html>

.abc{
background-color:white;
border: 2px black solid;
margin: 5px 100px 50px 200px;
}
p{
border: 1px solid black;
color:red;
}
h1{
text-align:center;
color:Red;
}
h2{
text-align:center;
color:green;
}
h3{
color:green;
}
p1{
color:red;
}
.inpt{
border:5px pink solid;
padding-right:100px;
}